:root {
    --my-dark-gray: #313133;
    --item-button-width: 100px;
}
.description-img{
    width: 100px;
    float: right;
    margin-top: -20px;
}
.item-button img, #computerChoice img{
    width: 70px;
}
.material label, .material input, .material button{
    font-size: 18px;
    line-height: 2;
}
.material #result, #advancedText{
    font-size: 24px;
    color: var(--alt-blue);
    font-weight: bolder;
}
#advancedText{
    text-align: center;
    margin: 20px 0;
}
.material .item-button{
    cursor: pointer;
    background-color: var(--my-dark-gray);
    display: grid;
    align-items: center;
    justify-items: center;
    margin-right: 10px;
    border: none;
}
.img-title{
    color: white;
}
.button-container {
    display: grid;
    grid-template-rows: 60px calc(100% - 20px);
    grid-template-columns: 50% 0% 50%;
}
.button-container p{
    font-size: 18px;
}
.user-choice{
    grid-column: 1/2;
    grid-row: 2/3;
    display: grid;
    justify-self: center;
    grid-template-rows: 100%;
    grid-template-columns: repeat(5, var(--item-button-width));
    height: 130px;
}
#computerChoice{
    grid-column: 3/4;
    grid-row: 2/3;
    justify-self: center;
    background-color:var(--my-dark-gray);
    border: none;
    align-items: center;
    justify-items: center;
    height: 130px;
    padding: 0 10px;
}
#computer-choice-img-title{
    background-color: var(--my-dark-gray);
    color: white;
    text-align: center;
    text-transform: capitalize;
}
#computer-choice-img{
}
.computer-choice-title{
    grid-column: 3/4;
    grid-row: 1/2;
    justify-self: center;
}
.user-choice-title{
    rid-column: 1/2;
    grid-row: 1/2;
    justify-self: center;
}
.display-none{
    display: none;
}
.inactive{
    opacity: 0.5;
}
#startGame, #playAgain{
    margin-top: 20px;
    font-size: 18px;
 }
.start-game-container{
    display: grid;
    justify-items: center;
}
.result-img{
    width:30px;
}
#score, #text {
    font-size: 20px;
    display: grid;
    justify-items: center;
    color: var(--alt-blue);
}
#score{
    font-weight: bold;
}
#result p{
    text-align: center;
}
#rules-link{
    color: var(--light-blue);
    font-weight: bold;
    cursor: pointer;
 }
#rules{
    position: absolute;
    width: 97%;
    min-height: 400px;
    margin: 0 auto;
    background-color: white;
    color: var(--main-blue);
    font-size: 16px;
    padding: 40px;
    z-index: 10;
}
#rules-close{
    float: right;
    cursor: pointer;
    font-weight: bold;
}
#rules>*, li{
    margin: 20px 0;
}
#rules ul, #rules ul li:first-child{
   margin-top: 0;
}

.rules-text{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 60px calc(100% - 60px);
    grid-auto-flow: column;
}
.result-img{
    width: 40px;
}
.container {
    max-width: 90vw;
}
@media only screen and (min-width: 650px) and (max-width: 1500px) {
    .container {
        width: 80%;
        max-width: 95vw;
    }
    .button-container{
        grid-template-columns: 70% 0% 30%;
    }

}
@media only screen and (min-width: 650px) and (max-width: 900px) {

    .user-choice{
        grid-template-rows: 50% 50%;
        grid-template-columns: repeat(3, var(--item-button-width));
        grid-row-gap: 10px;
        height: auto;
    }

    .item-button{
        height: 130px;
    }
}
@media only screen and (max-width: 649px) {

    .user-choice{
        grid-template-columns: repeat(2, var(--item-button-width));
        grid-row-gap: 10px;
    }
    .button-container {

        height: 430px;
    }
}

.options button{
    cursor: pointer;
}